<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767087197572-gqc7mjgnsqjj9q5cl14e9us64o2l0ghu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767087197572-gqc7mjgnsqjj9q5cl14e9us64o2l0ghu</string>
	<key>API_KEY</key>
	<string>AIzaSyDe05i9Pp0n5himj6iy8iHKA1MzgCcSDvs</string>
	<key>GCM_SENDER_ID</key>
	<string>767087197572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithnoel.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-20f4f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-20f4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767087197572:ios:a45913fa87e54eb51f71d1</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-20f4f.firebaseio.com</string>
</dict>
</plist>